@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');



body {
    font-family: DM Sans, sans-serif;
    font-weight: 400;
    line-height: 1;
    background-image: url(https://images.unsplash.com/photo-1710162734162-6a673ce4399a?q=80&w=1200&auto=format&fit=crop&ixlib=rb-4.1.0);
    background-size: cover;
    
    
}

.container {
    display: flex;
    width: 100vw;
    height: 100vh;
    margin: -20px;
}

.box {
    display: grid;
    gap: 15px;

    /* 4 colunas */
    grid-template-columns: repeat(4, 1fr);

    /* 5 linhas para permitir "meia linha" */
    grid-template-rows: repeat(5, 1fr);

    background: hsl(255, 100%, 97%);
    width: 650px;
    height: 480px;
    margin: auto;
    padding: 30px 100px;
    box-shadow: 0px 20px 50px hsla(0, 0%, 34%);
    justify-content: center;
    align-content: center;
}

/* ---------------------- COLUNA ESQUERDA ---------------------- */

/* Ocupa as linhas 1 a 3 (metade de 6) */
.left {
    background: hsl(31, 66%, 93%);
    grid-column: 1;
    grid-row: 1 / 3;
    border-radius: 3%;
    overflow: hidden;
    padding: 10px;
    
}

.left p {
    font-size: 1.5em;
    font-weight: 400;
    letter-spacing: -2px;
    line-height: 0.8;
    margin-left: 10px;
    padding-top: 15px;
}

.imagem-left {
    width: 80%;
    height: auto;
    margin-top: -10px;
    margin-left: 10px;
}

/* Ocupa as linhas 3 a 6 (segunda metade) */
.bottom-left {
    background: hsl(39, 100%, 71%);
    grid-column: 1;
    grid-row: 3 / 6; 
    border-radius: 3%;
    overflow: hidden;
    padding: 8px;
    
}

.bottom-left p{
  font-size: 1.4em;
  font-weight: 500;
  margin-top: 5px;
  letter-spacing: -2px;
  padding: 5px;
  margin-bottom: 3px;
  
}

.imagem-bottom-l {
    width: auto;
    height: 60%;
    margin-left: 15px;
    margin-top: 2px;
}

/* ---------------------- SEÇÃO SUPERIOR---------------------- */

.top-middle {
    height: 150px;
    background: hsl(256, 67%, 59%);
    grid-column: 2 / 4;
    grid-row: 1 / 2;
    border-radius: 3%;
    color: white;
    text-align: center;
    padding: 10px;
}

.top-middle p {
    margin-top: 20px;
    font-size: 2.5em;
    margin-bottom: 10px;
}

.imagem-top {
    width: 30%;
    height: auto;
    margin-top: -5px;
    margin-bottom: -5px;
}

.top-small {
    font-size: 10px; 
    font-weight: 200;
}



/* ---------------------- RIGHT ---------------------- */

.right {
    background: hsl(254, 88%, 90%);
    border-radius: 3%;
    grid-area: 1 / 4 / 4 / 5; 
    padding: 10px;
    overflow: hidden;
}

.right p {
    margin: 17px 0 10px 13px;
    font-weight: 550;
    font-size: 1.3em;
    letter-spacing: -2px;
    line-height: 0.8;
}

.imagem-right {
    width: 160%;
    height: 60%;
    margin-left: 12px;
}

#small {
    font-size: 0.7em;
    margin: 8px 5px 20px 16px;
    letter-spacing: -0.2px;
    line-height: 1;
    font-weight: 400;
}


.bottom-right {
    background: hsl(256, 67%, 59%);
    grid-area: 4 / 3 / 6 / 5;
    border-radius: 3%;
    padding: 10px;
    display: flex;
    overflow: hidden;
}

.imagem-bottom-r {
    width: auto;
    height: 100%;
}

.bottom-right p {
    align-content: center;
    color: white;
    font-size: 1.5em;
}

/* ---------------------- MIDDLE ---------------------- */

.middle {
    background: hsl(0, 0%, 100%);
    grid-area: 2 / 2 / 4 / 3;
    border-radius: 3%;
    padding: 13px;
    overflow: hidden;
}

.imagem-middle {
    width: auto;
    height: 30%;
}

.middle p {
    font-size: 1.3em;
    margin-top: 10px;
    letter-spacing: -1px;
    line-height: 0.8;
}

.middle-right {
    background: hsl(39, 100%, 71%);
    grid-column: 3 / 4;
    grid-row: 2 / 4;
    border-radius: 3%;
    padding: 5px;
    overflow: hidden;
}

.middle-right p {
    margin: 10px 2px 8px 10px;
    font-weight: 550;
    font-size: 1.3em;
    letter-spacing: -2px;
    line-height: 0.8;
}

.imagem-middle-r {
    width: 90%;
    height: auto;
    margin-left: 10px;
}

/* ---------------------- BOTTOM MIDDLE ---------------------- */

.bottom-middle {
    background: hsl(0, 0%, 100%);
    grid-area: 4 / 2 / 6 / 3;
    border-radius: 3%;
    padding: 10px;
    padding-top: 20px;
    overflow: hidden;
}

.bottom-middle p {
    margin: 5px 5px;
    font-size: 0.6em;
}

.imagem-bottom-m {
    width: 70%;
    height: auto;
    margin-top: 20px;
}


  .attribution { 
    font-size: 11px; 
    text-align: center;
}
  .attribution a { color: hsl(228, 45%, 44%); 
  }



/* ---------------------- MEDIA QUERIES
---------------------- */

/* Large devices ) */
@media only screen and (max-width: 850px) {
    .box {
        padding: 30px;
        transition: all 0.3s ease-in-out;
}
}




/* Small devices */
@media screen and (max-width: 640px) {

    body {
    min-height: 100vh;
    display: flex;
    flex-flow: column;
}

.container {
    flex: 1;  /* empurra .attribution para o fim */
    margin: -10px;
} 

.attribution {
    margin: 50px;
}

    .box {
    display: flex;
    gap: 15px;
    background: hsl(255, 100%, 97%);
    box-shadow: 0px 20px 50px rgba(87, 87, 87, 0.418);
    width: 100vw;
    height: auto;
    flex-flow: column;
    
}


/* PRIMEIRO */
.top-middle {
    order: 0;
    height: auto;   
    padding: 10px 25px;
}


.imagem-top {
    width: 60%;
    height: auto;
    padding-top: 10px;
}

.top-small {
    display: block;
    font-size: 0.9em;
    padding-bottom: 15px;
    padding-top: 6px;
    font-weight: 300;
}


/* SEGUNDO */
.middle {
    order: 1;
    height: auto;
}

.imagem-middle {
    width: 100%;
    
}

.middle p {
    font-size: 1.4em;
    font-weight: 550;
}


/* TERCEIRO */
.middle-right {
    order: 2;
    height: 200px;
}

.middle-right p {
    margin: 18px;
    font-weight: 500;
    font-size: 1.5em;
}

.imagem-middle-r {
    width: 70%;
}


/* QUARTO */
.right {
    order: 3;
}

.right p {
    margin: 20px 10px;
    font-weight: 500;
    font-size: 1.4em;
    letter-spacing: -1px;
}

.imagem-right {
    width: 100%;
    margin-left: 0;
}

#small {
    font-size: 1em;
    padding: 10px;
    text-align: center;
    margin-bottom: 10px;
}



/* QUINTO */
.bottom-right {
    order: 4;
    display: block;
}

.imagem-bottom-r {
    display: flex;
    width: 70%;
    margin: auto;
}

.bottom-right p {
    text-align: center;
    font-size: 1.5em;
    font-weight: 500;
    margin: 30px;
    margin-bottom: 5px;
}


/* SEXTO */

.bottom-middle {
    order: 5;
    height: auto;
}

.bottom-middle p {
    font-size: 1em;
    margin-top: 10px;
}

.imagem-bottom-m {
    width: 60%;
}


/* SETIMO */
.left {
    order: 6;
    height: auto;
}

.left p {
    font-size: 1.7em;
    font-weight: 500;
    letter-spacing: -1px;
    line-height: 1;
    margin-left: 10px;
    padding: 2px;
    margin-top: 10px;
}

.imagem-left {
    width: 60%;
}



/* OITAVO */
.bottom-left {
    order: 7;
    padding: 8px;
    height: auto;
}

.bottom-left p{
  font-size: 1.6em;
  letter-spacing: -1px;
  margin-bottom: 5px;
  margin-left: 10px;
}

.imagem-bottom-l {
    width: 70%;
    padding: 10px 0;
}



}
